.layoutWrapper {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;

  min-height: 100svh;

  // -- NOTE: Особенности конкретной реализации
  // только для того, чтоб убрать визуальный gap
  // между нижним липким элеменом и футером (перфекционизм))
  & > :first-child {
    margin-bottom: 32px;
  }
  // NOTE: Доп отступ для основного контента
  // перед нижним липким элементом
  & > :nth-last-child(3) {
    margin-bottom: 32px;
  }
  // --

  & > .stickyTop {
    position: sticky;
    top: 0;
    padding: 16px 0px 16px 0px;
    // border-bottom: 2px solid lightgray;
    background-color: #fff;
    z-index: 1;

    box-shadow: 0 10px 7px -8px rgba(34,60,80,.2);
  }

  & > .stickyBottom {
    position: sticky;
    bottom: 0;
    padding: 16px 0px 16px 0px;
    // border-bottom: 2px solid lightgray;
    background-color: #fff;
    z-index: 1;

    box-shadow: 0 -10px 7px -8px rgba(34,60,80,.2);
    margin-top: auto;
  }

  & > .siteFooter {
    // margin-top: auto;
    // border: 2px dashed lightgray;
    border-top: 2px solid lightgray;
    padding: 16px 0px 16px 0px;

    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  @media(max-width: 600px) {
    padding: 0px 16px 0px 16px;
  }
}
